.jumbotron {
  background-color: gainsboro;
  color: #FF7800;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn {
  outline-color: lightgrey;
  background-color: lightgrey;
  color: black;
  border-color: lightgrey;
}
.btn:hover {
  background-color: orangered;
  color: white;
  border-color: orangered;
}
.breadcrumb {
  background-color: lightgrey;
  color: orangered;
  margin-top: 2%;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 10px 10px;
  background-color: #fafafa;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
body {
  background-color: #fafafa;
}
.recipe-titles {
  margin-top: 0px;
  margin-bottom: 200px;
  padding-bottom: 10px;
}
.card-receta {
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-go {
  width: 100%;
  border-radius: 0px;
}
.footer-icon {
  padding-right: 10px;
  color: orangered;
}
a:link {
  color: orangered;
}
a:visited {
  color: orangered;
}
a:hover {
  color: orangered;
  text-decoration: none;
}
#breadcrumb-link {
  color: white;
}
#carouselBanner {
  padding-bottom: 30px;
}
.carousel-item {
  position: relative !important;
}
.black-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
}
.carousel-caption {
  padding-bottom: 10%;
  padding-left: 32%;
  position: absolute;
}
.banner-logo {
  color: orangered;
}
.tab-content {
  padding-top: 10px;
}
