$background: #fafafa;
$orange: orangered;
$grey: gainsboro;
$lightgrey: lightgrey;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $grey;
	color: #FF7800;
	@include margenes(50px, 0px);
}

.btn {
	outline-color: $lightgrey;
	background-color: $lightgrey;
	color: black;
	border-color: $lightgrey;
}

.btn:hover {
  background-color: $orange;
  color: white;
  border-color: $orange;
}

.breadcrumb {
	background-color: $lightgrey;
	color: $orange;
	@include margenes(2%, 10px);
}

footer {
	padding: 10px 10px 10px 10px;
	background-color: $background;
	@include margenes(20px, 20px);
	margin-right: 5px;
	margin-left: 5px;
}

body {
	background-color: $background;
}

.recipe-titles {
	@include margenes(0px, 200px);
	padding-bottom: 10px;
}

.card-receta {
	@include margenes(10px, 0px);
}

.btn-go {
	width: 100%;
	border-radius: 0px;
}

.footer-icon {
	padding-right: 10px;
	color: $orange;
}

a:link {
color: $orange;
}
a:visited {
color: $orange;
}
a:hover {
color: $orange;
text-decoration: none;
}

#breadcrumb-link {
	color: white;
}

#carouselBanner {
	padding-bottom: 30px;
}
.carousel-item {	position: relative !important; }
.black-overlay {	position: absolute; position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0);
}
.carousel-caption {
	padding-bottom: 10%;
	padding-left: 32%;
	position: absolute;
}
.banner-logo {
	color: $orange;
}

.tab-content {
	padding-top: 10px;
}